#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "findmydevice"
name = "Find My Device"
description.en = "Server for saving location data send by FMD"
description.fr = "Serveur de sauvegarde des données de localisation envoyées par FMD"

version = "0.13.0~ynh1"

maintainers = ["ewilly"]

[upstream]
license = "GPL-3.0-or-later"
website = "https://fmd-foss.org/"
demo = "https://fmd.nulide.de/"
admindoc = "https://fmd-foss.org/docs/fmd-server/overview"
code = "https://gitlab.com/fmd-foss/fmd-server"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "1000M"
ram.build = "600M"
ram.runtime = "70M"

[install]
	[install.domain]
	type = "domain"

	[install.init_main_permission]
	type = "group"
	default = "visitors"

	[install.allow_public_registration]
	ask.en = "Do you want to allow public registration?"
	ask.fr = "Souhaitez-vous autoriser l'enregistrement publique ?"
	help.en = "When public there is no need to know the token to register."
	help.fr = "Si oui, il n'y a pas besoin de saisir le token pour s'enregistrer."
	type = "boolean"
	default = true

[resources]

	[resources.sources]

		[resources.sources.main]
		url = "https://gitlab.com/fmd-foss/fmd-server/-/archive/v0.13.0/fmd-server-v0.13.0.tar.gz"
		sha256 = "2386d89af88870d75b70721aa2a930fcfc70cf66f437e7b4dbe9dfe597d4afc2"

		autoupdate.strategy = "latest_gitlab_release"

	[resources.system_user]

	[resources.install_dir]

	[resources.data_dir]

	[resources.permissions]
	main.url = "/"

	[resources.ports]
	main.default = 8080
	prometheus.default = 9100

	[resources.apt]
	packages = [ "build-essential" ]

    [resources.go]
    version = "1.24"
