#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/tests.v1.schema.json

test_format = 1.0

[default]

	# ------------
	# Tests to run
	# ------------

	# -------------------------------
	# Default args to use for install
	# -------------------------------

	# -------------------------------
	# Commits to test upgrade from
	# -------------------------------
		#test_upgrade_from.f953f41777ae96eaa92b0f517c08d51a5f4c9a65.name = "Upgrade from 0.8.0~ynh2"
		test_upgrade_from.85a27b36a8bf0211f28ba580e7246b8fc2dcdc86.name = "Upgrade from 0.12.0~ynh1"
